{% extends 'base.html' %}

{% block title %} Train {% endblock %}

{% block body %}

    {% if messages %}
        {% for m in messages %}
            <div>
                <strong>{{m|safe}}</strong>
            </div>
        {% endfor %}
    {% else %}
    <div class="container" style="margin-top: 50px;">
        
        <center><h5> Ekstrasi Informasi halaman web</h5></center>
        <h3>Pengujuan Data</h3>
        <div class="card" style="padding: 12px;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h6>Pilih Data Uji</h6>
                <input type="file" class="form-control-file border"name="file" >
                <br>
                <button type="submit" class="btn btn-primary">Proses</button>
                <a class="btn btn-secondary" href="{% url 'test' %}"> Batal </a>
                <br>
                <br>
                {{info}}
                <br>
                <strong> {{err_info}} </strong>
            </form>
        </div>
    </div>
    
    <div class="container" style="margin-top: 50px;">
        
        <h3>Data Uji</h3>
        <div>
            <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Dockumen ke</th>
                    <th>hasil prediksi kelas</th>
                    <th>aktual kelas</th>
                    <th>Text</th>
                    <th>is_valid</th>                
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                    <tr>
                    <td>{{d.index}}</td>
                    <td>{{d.y_pred}}</td>
                    <td>{{d.label}}</td>
                    <td>{{d.text}}</td>
                    <td>{{d.is_valid}}</td>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
        
    <div class="container" style="margin-top: 50px;">
        
        <h3>Praproses 1 (tokenisasi)</h3>
        <div>
            <table class="table table-bordered table-sm">
            <thead>
                <tr>
                <th>sebelum</th>
                <th>sesudah</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                    <tr>
                    <td>{{d.text}}</td>
                    <td>{{d.text_token}}</td>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>

    <div class="container" style="margin-top: 50px;">
        
        <h3>Praproses 2 (Vecotorization)</h3>
        <div>
            <table class="table table-bordered table-sm">
            <thead>
                <tr>
                <th>sebelum</th>
                <th>sesudah (date,allcaps,digit,akro,:,18)</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                    <tr>
                    <td>{{d.text_token}}</td>
                    <td>{{d.text_vector}}</td>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>

    <div class="container" style="margin-top: 50px;">
        
        <h3>Accuracy testing : {{ accuracy_val }} %</h3>
        <h3>Accuracy validasi: {{ accuracy_test }} %</h3>
        
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    {% endif %}

{% endblock %}